body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-flow: column;
}

#canvas-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  min-height: 0;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#my-canvas {
  background-color: #000;
}

#footer {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  color: #fff;
  background-color: #000;
  font-size: medium;
}

#footer > a {
  color: #fff;
}
